
body
{
    background: rgb(255, 240, 240)
}

.welcome
{
    background: url("img/Travel.jpg") no-repeat 0 -1300px;
    object-fit: fill;
    min-height: 250px;
    position:relative;
    text-align: center;
    border-bottom: 3px rgb(255, 83, 83) solid;
}

.showcase
{
    background: url("img/Emporium Hotel South Bank 5b692ca541f0af1334558ccc 16X9.jpeg") no-repeat 0 -400px;
    min-height: 640px;
}
.welcome p
{
    border-radius: 10px;
    font-size: 500%;
    margin-top:70px;
    color: rgb(241, 241, 241);
    border:2px rgb(255, 137, 137) solid;
    background: rgba(0, 83, 156, 0.788);
    min-height: 22%;
    padding-top:27px;
    
}

section
{
    text-align: center;
}

form p
{
    font-size: 50;
    margin: 20 0;
    color: rgb(255, 231, 231);
}

form
{
    float:left;
    position: relative;
    top: 190px;
    border-radius: 10px;
    left: 400;
    border:2px rgb(255, 137, 137) solid;
    background: rgba(0, 83, 156, 0.788);
    padding: 20px;
    text-align: center;
}


input
{
    margin:10px; 
    height: 30px;
    min-width: 250px;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    border:2px rgb(255, 137, 137) solid;
}

select
{
    margin:10px;
    height: 30px;
    min-width: 250px;
    border:2px rgb(255, 137, 137) solid;
    border-radius: 10px;
    padding: 0 10px;

}

input[type="submit"]
{
    padding-bottom: 25px;
}

aside
{
    float:right;
    position: relative;
    top:30;
}