input,textarea
{
    margin:10px; 
    height: 30px;
    min-width: 250px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
    border:2px rgb(255, 137, 137) solid;
}
textarea
{
    height: auto;
}
.sec
{
    background: url("img/5451_ho_00_p_2048x1536.jpg") no-repeat -300px -700px;
    min-height: 640px;
    text-align: center;
}

input[type="submit"]
{
    padding-bottom: 25px;
}

input:hover
{
    background:rgb(43, 158, 252);  
}
.sec p
{
    position: relative;
    top:10px;
    text-transform:uppercase;
    color: rgb(241, 241, 241);
    font-size:80px;
}


form
{
    background: rgba(0, 83, 156, 0.788);
    text-align: center;
    border-radius: 500px;
    margin-left:15%;
    margin-right:15%;
}